body{
  background: grey;
  font-family: Arial, sans-serif;
  margin: 0;
}

div{
  max-width: 960px;
  background: white;
  margin: auto;
}

    p{
      padding: 16px;
      margin: 0;
    }

    img{
      width: 100%;
    }

    .container{
        background: black;
        height: 200px;
    }

    .box{
        border: 1px solid green;
        height: 200px;
        width: 200px;
    }


    .blau{
      background: blue;
    }

    .rot{
      background: red;
    }

    .gelb{
      background: yellow;
    }

    .rund{
      border-radius: 50%;
    }

    @media (min-width: 768px){
      div{
          display: flex;}
        img{
          width: 50%;
          }
      }
